name: "test"
on:
  pull_request: {}

jobs:
  test_build:
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-22.04]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4
      - name: install Go stable
        uses: actions/setup-go@v4
        with:
          go-version: "stable"
      - name: install webkit2gtk (ubuntu only)
        if: matrix.platform == 'ubuntu-22.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.0-dev build-essential curl wget libssl-dev libgtk-3-dev libayatana-appindicator3-dev librsvg2-dev

      - name: install holochain_cli_launch to make sure it compiles
        run: cargo build --release --bin hc-launch

      - name: check that version string has been (manually) updated correctly
        run: |
          # This checks that the version string in ./crates/hc_launch/src-tauri-src/cli.rs has been (manually) set to the correct holochain version
          hc_version_cli=$(./target/release/hc-launch --version | grep -Eo "holochain [0-9]+\.[0-9]+\.[0-9]+[-0-9a-zA-Z.]*[^)]*" | grep -Eo "[0-9]+\.[0-9]+\.[0-9]+[-0-9a-zA-Z.]*")
          hc_version_cargo_toml=$(grep -E '^holochain_conductor_api' Cargo.toml | awk -F' = ' '{print $2}' | tr -d '"')

          if [ "$hc_version_cli" != "$hc_version_cargo_toml" ]; then
            echo "ERROR: The holochain version set in the verison string in ./crates/hc_launch/src-tauri-src/cli.rs does not match the holochain version in Cargo.toml."
            exit 1
          fi

  ci_pass:
    if: ${{ always() }}
    runs-on: "ubuntu-latest"
    needs:
      - test_build
    steps:
      - name: check status
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
